:root {
    --button-green: #bbf330;
    --dark-green: #7eb101;
    --yellow-main: #ffe550;
    --black: #2c2c2c;
    --white: #fefefe;
    --2: #a7ce47;
    --tekst: #3d3d3d;
    --tekst2: #969696;
    --tekst3: #4a4a4a;
}

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Kalam", sans-serif;
    --third-family: "Inter", sans-serif;
}



/* RESET */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    /* display: flex;
flex-direction: column;
    min-width: 100vw;
  min-height: 100vh; */
    margin: 0;
    background-color: var(--white);
    font-family: var(--font-family);
    color: var(--black);
}

main {
    /* flex-grow: 1; */
}


/* CONTAINER */


/* Styles for Mobile devices */
.container {
    min-width: 320px;
    max-width: 360px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 776px) {
    .container {
        max-width: 744px;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1160px) {
    .container {
        max-width: 1128px;
    }
}