@use "../variables" as *;

.hero-container {
  display: flex;

  .hero-text-part {
    width: 502px;
    h1 {
      font-size: 48px;
      line-height: 120%;
      margin-bottom: 28px;
    }
    p {
      line-height: 150%;
      margin-bottom: 40px;
    }
  }
  .hero-img-part {
    width: 680px;
  }
}
