.container {
  min-width: 320px;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: --tablet) {
    max-width: 744px;
  }

  @media (min-width: --desktop) {
    max-width: 1128px;
  }
}
