@use "variables" as *;

.container {
  max-width: $mobile;
  margin: 0 auto;
  padding: 0 16px;

  // @media (min-width: $mobile-med) {
  //   max-width: $mobile-med;
  // }

  @media (min-width: $tablet) {
    max-width: $tablet;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
  }
}
