$button-green: #bbf330;
$dark-green: #7eb101;
$yellow-main: #ffe550;

$black: #2c2c2c;
$white: #fefefe;
$green-light: #a7ce47;

$tekst: #3d3d3d;
$tekst2: #969696;
$tekst3: #4a4a4a;

// fonts

$font-family: "Roboto", sans-serif;
$second-family: "Kalam", sans-serif;
$third-family: "Inter", sans-serif;

// breakpoints

$mobile: 320px;
$tablet: 776px;
$desktop: 1160px;
